<h1 class="dashboard-title">Your Dashboard</h1>

<!-- Create Post Button -->
<div class="create-post-container">
  <button id="new-post-btn" class="create-post-btn">+ New Post</button>
</div>

<!-- Hidden form for creating a new post -->
<div id="new-post-form-container" class="form-container" style="display: none;">
    <form id="new-post-form" class="new-post-form">
        <div class="form-group">
            <label for="title" class="form-label">Title:</label>
            <input type="text" id="title" name="title" class="form-input common-input" required>
        </div>

        <div class="form-group">
            <label for="content" class="form-label">Content:</label>
            <textarea id="content" name="content" class="form-input common-input" required></textarea>
        </div>

        <button type="submit" class="submit-post-btn">Submit</button>
    </form>
</div>

{{#if posts.length}}
  <section class="posts-section">
    {{#each posts}}
      <div class="post">
        {{!-- <h3><a href="/posts/{{this.id}}">{{this.title}}</a></h3> --}}
        <h3>{{this.title}}</h3>
        <p>{{this.content}}</p>
        <small>Created on {{this.createdAt}}</small>
        <button data-id="{{this.id}}" class="edit-btn">Edit</button>
        <button data-id="{{this.id}}" class="delete-btn">Delete</button>
      </div>
    {{/each}}
  </section>
{{else}}
  <p>You haven't posted any blog entries yet.</p>
{{/if}}

<!-- Modal for Editing Post -->
<div id="editModal" class="modal-container" style="display: none;">
  <div class="modal-content">
    <span class="modal-close">&times;</span>
    <h2>Edit Post</h2>
    <form id="editForm" method="POST">
      <input type="hidden" name="_method" value="PUT">
      
      <label class="modal-label" for="edit-title">Title:</label>
      <input type="text" name="title" id="edit-title" class="modal-input" required>
      
      <label class="modal-label" for="edit-content">Content:</label>
      <textarea name="content" id="edit-content" class="modal-textarea" required></textarea>
      
      <button class="modal-update-button" type="submit">Update Post</button>
    </form>
  </div>
</div>

<script src="./js/dashboard.js"></script>