<h1 class="dashboard-title">Your Dashboard</h1>

<!-- Create Post Button -->
<div class="create-post-container">
  <button id="new-post-btn" class="create-post-btn">+ New Post</button>
</div>


<!-- Hidden form for creating a new post -->
<div id="new-post-form-container" class="form-container" style="display: none;">
    <form id="new-post-form" class="new-post-form">
        <div class="form-group">
            <label for="title" class="form-label">Title:</label>
            <input type="text" id="title" name="title" class="form-input common-input" required>
        </div>

        <div class="form-group">
            <label for="content" class="form-label">Content:</label>
            <textarea id="content" name="content" class="form-input common-input" required></textarea>
        </div>

        <button type="submit" class="submit-post-btn">Submit</button>
    </form>
</div>

<script src="./js/dashboard.js"></script>

{{#if posts.length}}
  <section class="posts-section">
    <h2>Your Posts</h2>
    {{#each posts}}
      <div class="post">
        <h3><a href="/posts/{{this.id}}">{{this.title}}</a></h3>
        <p>{{this.content}}</p>
        <small>Created on {{this.createdAt}}</small>
        <button data-id="{{this.id}}" class="edit-btn">Edit</button>
        <button data-id="{{this.id}}" class="delete-btn">Delete</button>
      </div>
    {{/each}}
  </section>
{{else}}
  <p>You haven't posted any blog entries yet.</p>
{{/if}}